body,html {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
}

.header{
    width: 100%;
    background-color: rgb(0, 225, 255);
    height: 100px;
    display: flex;
    align-items: center;
}

.space{
    width: 5%;
    height: 100px;
}

.supreme{
    display: flex;
}

.heads{
    text-align: center;
    min-width: 125px;
    font-size: 20px;
    color: white;
    margin-right: 12px;
    margin-left: 12px;
}

.five{
    justify-self: right;
}

.title{
    display: flex;
    text-align: left;
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
}